.data-page {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 651px;
    overflow: hidden;
    padding: 109px 0px;
    width: 1158px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.tile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-12);
    font-weight: 700;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -26px;
    text-align: center;
    white-space: nowrap;
    width: 360рх;
}

.kirim-data {
    align-items: flex-start;
    display: flex;
    margin-left: 2px;
    margin-top: 38px;
    min-width: 167px;
}

.box-data {
    align-items: flex-start;
    background-color: #ffffff4c;
    border: 2px solid;
    border-color: var(--black);
    border-radius: 5px;
    display: flex;
    height: 39px;
    min-width: 165px;
    padding: 5px 17px;
}

.tambah-data {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    min-width: 127px;
    margin-top: 9px;
    margin-left: 10px;
    text-align: center;
}