.data-page {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 651px;
    padding: 0 276px;
    width: 1158px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.input-bayi {
    align-items: flex-start;
    background-color: white;
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    height: 39px;
    margin-right: 2px;
    margin-top: 68px;
    min-width: 316px;
    padding: 4px 23px;
}


.text-bayi {
    color: black;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    width: 265px;
}

.input-ortu {
    align-items: flex-start;
    background-color: white;
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    height: 39px;
    margin-right: 2px;
    margin-top: 30px;
    min-width: 316px;
    padding: 4px 23px;
}


.text-ortu {
    color: black;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    width: 265px;
}

.input-gender {
    align-items: flex-start;
    background-color: white;
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    height: 39px;
    margin-right: 2px;
    margin-top: 30px;
    min-width: 316px;
    padding: 4px 23px;
}


.text-gender {
    color: black;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    width: 265px;
}

.input-tanggal {
    align-items: flex-start;
    background-color: white;
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    height: 39px;
    margin-right: 2px;
    margin-top: 30px;
    min-width: 316px;
    padding: 4px 23px;
}


.text-tanggal {
    color: black;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    width: 265px;
}

.input-telegram {
    align-items: flex-start;
    background-color: white;
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    height: 39px;
    margin-right: 2px;
    margin-top: 30px;
    min-width: 316px;
    padding: 4px 23px;
}


.text-telegram {
    color: black;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    width: 265px;
}

.simpan-data {
    align-items: flex-start;
    align-self: center;
    align-items: center;

    background-color: black;
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    height: 39px;
    margin-right: 124px;
    margin-left: 100px;
    margin-top: 30px;
    width: 300px;
    padding: 4px 23px;
}


.text-simpan {
    color: white;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    width: 182px;
    margin-left: 50px;
    text-align: center;
}