@import url("https://fonts.googleapis.com/css?family=Roboto:700, 600|Single+Day:400");

.login-page {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    gap: 66px;
    width: 1158px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.flex-col {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 145px;
    min-height: 359px;
    width: 371px;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello-welcome-back {
    align-self: flex-start;
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-weight: 700;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 360px;
}

.overlap-group2 {
    align-items: flex-start;
    background-color: #000000;
    border-radius: 10px;
    display: block;
    height: 39px;
    justify-content: flex-end;
    margin-right: 2px;
    margin-top: 43px;
    min-width: 316px;
    padding: 7px 25px;
}

.continue {
    color: #ffffff;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 265px;
}


.flex-row {
    align-items: flex-start;
    display: flex;
    gap: 61px;
    margin-right: 2px;
    margin-top: 42px;
    min-width: 316px;
}

.forgot-your-password {
    -webkit-text-stroke: 3px var(--black);
    color: transparent;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 600;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    width: 195px;
}

.signup {
    -webkit-text-stroke: 3px var(--black);
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
    width: 60px;
}

.overlap-group1 {
    background-color: var(--white-2);
    border: 3px solid;
    border-color: var(--black);
    border-radius: 10px;
    height: 39px;
    margin-right: 2px;
    margin-top: 43px;
    position: relative;
    width: 316px;
}

.rieye-off-line {
    height: 24px;
    left: 276px;
    position: absolute;
    top: 3px;
    width: 24px;
}

.password {
    -webkit-text-stroke: 3px var(--dove-gray);
    height: 23px;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    top: 4px;
    width: 265px;
}

.overlap-group {
    align-items: flex-start;
    background-color: var(--white-2);
    border: 3px solid;
    border-color: var(--black);
    border-radius: 10px;
    display: flex;
    height: 39px;
    margin-right: 2px;
    margin-top: 68lN;
    min-width: 316px;
    padding: 4px 23px;
}

.abcdefggmailcom {
    -webkit-text-stroke: 3px var(--dove-gray);
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    width: 265px;
}

.overlap-group3 {
    background-color: #f9f9f9;
    height: 651px;
    position: relative;
    width: 607px;
}

.surname {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-weight: 700;
    height: 24px;
    left: 202px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 399px;
    width: 179px;
}


.Baby {
    height: 272px;
    left: 134px;
    object-fit: cover;
    position: absolute;
    top: 125px;
    width: 314px;
}

.title {
    color: var(--black);
    font-family: var(--font-family-single_day);
    font-size: var(--font-size-xl);
    font-weight: 400;
    height: 209px;
    left: 67px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 272px;
    width: 448px;
}