.main-page {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px none;
    display: flex;
    gap: 128px;
    height: 651px;
    padding: 40px 35px;
    width: 1158px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.data-user {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin-left: 65px;
    min-height: 461px;
    width: 380px;
}

.parameter {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 294px;
    width: 380px;
}

.suhu-group {
    align-items: flex-end;
    background-color: #95adfe4c;
    border-radius: 15px;
    display: flex;
    margin-top: 47px;
    height: 54px;
    min-width: 110px;
    padding: 5px 4pх;
    border-radius: 15px;
}

.suhu-text {
    letter-spacing: 0;
    line-height: normal;
    min-height: 42px;
    width: 95px;
    margin-left: 7px;
    text-align: center;
    color: var(--black);
    font-weight: bold;
}

.kirim-group {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid;
    border-color: black;
    display: flex;
    height: 54px;
    min-width: 110px;
    margin-top: 47px;
    padding: 5px 4pх;
    border-radius: 15px;
}

.kirim-data {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    min-width: 88px;
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
}

.date {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-12);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 7.17px;
    min-height: 32pх;
    width: 310px;
}

.height-group {
    align-items: flex-start;
    display: flex;
    gap: 25px;
    margin-left: 3.17px;
    margin-top: 47px;
    min-width: 377px;

}

.height-box {
    align-items: flex-start;
    background-color: #f758584c;
    border-radius: 15px;
    display: flex;
    height: 54px;
    min-width: 105px;
    padding: 5px 4pх;
}

.height-text {
    letter-spacing: 0;
    line-height: normal;
    min-height: 42px;
    width: 95px;
    text-align: center;
    margin-top: 17px;
    margin-left: 4.5px;
    color: var(--black);
    font-weight: bold;
}

.weight-group {
    align-items: flex-start;
    display: flex;
    gap: 23px;
    margin-left: 3рх;
    margin-top: 22px;
    min-width: 377px;
}

.weight-box {
    align-items: flex-start;
    background-color: #f758584c;
    border-radius: 15px;
    display: flex;
    min-width: 105px;
    padding: 5px 4pх;
    height: 54px;
    position: relative;
}

.weight-text {
    letter-spacing: 0;
    line-height: normal;
    min-height: 42px;
    width: 95px;
    text-align: center;
    margin-top: 17px;
    margin-left: 4.5px;
    color: var(--black);
    font-weight: bold;
}

.user-bayi {
    height: 95px;
    margin-left: 12px;
    position: relative;
    width: 286px;
}

.orang-tua {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m2);
    font-weight: 700;
    left: 83px;
    line-height: normal;
    top: 53pх;
    width: 203px;
}

.user {
    align-items: center;
    display: flex;
    gap: 18px;
    height: 75px;
    left: 0;
    min-width: 284px;
    position: absolute;
    top: 0;
}

.bayi {
    color: var(--black);
    font-family: var(--fent-family-poppins);
    font-size: var(--font-size-12);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 13px;
    min-height: 24px;
    width: 200px;
}



.monthly-chart {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-12);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: З6рх;
}


.navbar {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    height: 25px;
    min-width: 479px;
}

.navbar-link {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 23px;
    min-height: 25px;
    opacity: 0.5;
    width: 38pх;
}

.desktop-3 .navbar-link-1 {
    letter-spacing: 0;
    line-height: normal;
    min-height: 25px;
    width: 38px;
}

.navbar-link-dec {
    margin-left: 21px;
    opacity: 0.5;
}