.main-page {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px none;
    display: flex;
    gap: 128px;
    height: 651px;
    padding: 40px 35px;
    width: 1158px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.data-user {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin-left: 65px;
    min-height: 461px;
    width: 380px;
}

.parameter {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 294px;
    width: 380px;
}

.ideal {
    align-items: flex-end;
    background-color: #95adfe4c;
    border-radius: 15px;
    display: flex;
    height: 54px;
    margin-top: 31px;
    min-width: 110px;
    padding: 4px 12px;
}

.ideal {
    letter-spacing: 0;
    line-height: normal;
    min-height: 45px;
    min-width: 84px;
    text-align: center;
}

.kirim-group {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid;
    border-color: black;
    display: flex;
    height: 54px;
    min-width: 11px;
    padding: 10px 9px;
}

.kirim-data {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    min-width: 88px;
    text-align: center;
}

.date {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-12);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 7.17px;
    min-height: 32pх;
    width: 310px;
}

.height-group {
    align-items: flex-start;
    display: flex;
    gap: 25px;
    margin-left: 3.17px;
    margin-top: 47px;
    min-width: 377px;
}

.overlap-group1 {
    align-items: flex-start;
    background-color: #f758584c;
    border-radius: 15px;
    display: flex;
    height: 54px;
    min-width: 105px;
    padding: 5px 4pх;
}

.height {
    letter-spacing: 0;
    line-height: normal;
    min-height: 42px;
    width: 95px;
}


.address-1 {
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 10.41px;
    min-height: 32px;
    width: 243px;
}

.weight-group {
    align-items: flex-start;
    display: flex;
    gap: 23px;
    margin-left: 3рх;
    margin-top: 22px;
    min-width: 377px;
}

.overlap-group {
    align-items: flex-start;
    background-color: #f758584c;
    border-radius: 15px;
    display: flex;
    min-width: 105px;
    padding: 5px 4pх;
    height: 54px;
    position: relative;
}

.weight {
    left: 4px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    width: 103px;
}

.address {
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 10.41px;
    min-height: 32px;
    width: 243px;
}

.user-bayi {
    height: 95px;
    margin-left: 12px;
    position: relative;
    width: 286px;
}

.orang-tua-bayi-lucu {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m2);
    font-weight: 700;
    left: 83px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 53pх;
    width: 203px;
}

.user {
    align-items: center;
    display: flex;
    gap: 18px;
    height: 75px;
    left: 0;
    min-width: 284px;
    position: absolute;
    top: 0;
}

.user-image {
    height: 75px;
    object-fit: cover;
    width: 64px;
}

.bayi-lucu {
    color: var(--black);
    font-family: var(--fent-family-poppins);
    font-size: var(--font-size-12);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 13px;
    min-height: 24px;
    width: 200px;
}

.flex-co1-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin-top: 17pxi;
    min-height: 113px;
    width: 515px;
}

.monthly-chart {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-12);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: З6рх;
}


.navbar {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    height: 25px;
    min-width: 479px;
}

.navbar-link {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 23px;
    min-height: 25px;
    opacity: 0.5;
    width: 38pх;
}

.desktop-3 .navbar-link-1 {
    letter-spacing: 0;
    line-height: normal;
    min-height: 25px;
    width: 38px;
}

.navbar-link-dec {
    margin-left: 21px;
    opacity: 0.5;
}