:root {
  --black: rgba(0, 0, 0, 1);
  --tuatara: rgba(52, 52, 52, 1);
  --dove-gray: rgba(108, 108, 108, 1);
  --delta: rgba(163, 163, 163, 1);
  --white-2: rgba(255, 255, 255, 0.949);
  --white: rgba(255, 255, 255, 1);
  --font-size-s: 9px;
  --font-size-m: 10px;
  --font-size-x1: 48px;
  --font-size-xxxx1: ЗОрх;
  --font-size-13: 14px;
  --font-size-s2: 16px;
  --font-size-m2: 18px;
  --font-size-12: 24px;
  --font-family-poppins: "Poppins";
  --font-family-roboto: "Roboto";
  --font-family-roboto-bold: "Roboto-Bold";
  --font-fanily-roboto-semibold: "Roboto-SemiBold";
  --font-family-sinqle_day: "Single Day";
  --font-family-single_day-regular: "Single Day-Regular";
}


.Poppins-beld-black-30Px {
  color: var(--black);
  font-family: var(-- font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  font-style: normal;
}

.poppins-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-13);
  font-weight: 400;
  font-style: normal;
}

.roboto-bold-white-18px {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m2);
  font-weight: 700;
  font-style: normal;
}

.roboto-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}